* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
  &:hover{
    cursor: pointer;
  }
}
body{

  font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif;
  background: #00324e;

}
.body-container{
    position: fixed;
    top:6rem;
    left: 0;
    right:0;
    bottom: 0;
    overflow: auto
}
input{
  &:focus{
    outline: none;
  }
}
button{
  border:none;
  padding: 0;
  background: none;
  &:focus{
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

  textarea {
    &:focus {
      outline: none;
    }
  }
